.perfil {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1.5rem;
  font-size: 1.2rem;

  mat-card {
    max-width: 450px;
    padding: 20px;
    height: auto;

    background-color: #f9fafb;
    border: 1px solid #d1d5db;
    border-radius: 2px;

    min-width: none;
    overflow: hidden;
    text-overflow: ellipsis;

    .mat-mdc-card-header {
      justify-content: center;
      text-align: center !important;
      font-size: 24px !important;
    }
  }

  .mdc-text-field {
    border-radius: 2px !important;
    box-shadow: 0 1px 2px rgb(86, 87, 88) !important;
    border-radius: 20px;
  }

  .mdc-text-field:hover {
    background-color: white !important ;
  }

  .hero-header {
    padding: 0px !important;
    margin: 0px !important;
  }

  .item-wrapper {
    border-radius: 2px !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
  }

  .mdc-line-ripple {
    display: none !important;
  }

  // .form {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   background-color: rgb(227, 225, 225);

  // }

  .mat-form-field {
    max-width: 100% !important;
  }

  mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 52px;
    padding: 8px;

    .button-mat-card-actions {
      background-color: #001aff;
      color: #eef2f7;
      border-radius: 30px;
    }

    .button-mat-card-actions:hover {
      color: #eef2f7;
      font-weight: bold;
      box-shadow: 0 px 0.5px rgba(4, 24, 241, 0.8) !important;
    }
  }

  .mat_icon {
    display: flex;
    align-items: center;
    justify-content: center;

    mat-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
    }
    .mat_icon button {
      padding: 0 !important;
      min-width: 0 !important;
    }
  }
  .item-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .item-text {
      flex: 1;
      min-width: none !important;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
