.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;

  mat-card {
    width: 400px;
    padding: 20px;
    height: auto;

    background-color: #f9fafb;
    border: 1px solid #d1d5db;
    border-radius: 8px;

    min-width: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .mat-mdc-card-header {
      justify-content: center;
      text-align: center !important;
      font-size: 24px !important;
    }
  }

  .mdc-notched-outline__leading {
    display: none;
  }

  .mdc-notched-outline__trailing {
    display: none;
  }

  .mdc-line-ripple {
    display: none;
  }

  .mdc-text-field {
    border-radius: 16px !important;
    box-shadow: 0 1px 10px rgb(4, 7, 11) !important;
    border-radius: 20px;
  }

  .mdc-text-field:hover {
    background-color: white !important ;
  }

  .mat-divider {
    border-top-style: none;
  }

  .mdc-text-field--invalid .mdc-floating-label {
    color: red !important;
  }

  .mdc-text-field--invalid .mdc-text-field__input {
    color: red !important;
  }

  .mdc-text-field--invalid .mdc-text-field__input::placeholder {
    color: red !important;
  }
  mat-error {
    margin-left: 8px;
    display: block;
    color: red;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .button-2 {
      background-color: #1e293b;
      color: white;
      border-radius: 20px;
      box-shadow: 0 1px 10px rgb(4, 7, 11);
      transition: all 0.3s ease;
    }

    .button-2:hover {
      background-color: #334155;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
      transform: translateY(-2px);
    }
  }
}
