<div class="login">
  <mat-card>
    <mat-card-header class="padding-m">
      <mat-card-title>Login</mat-card-title><br />
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Digite seu email" />
          @if (emailError) {
            <mat-error>{{ emailError }}</mat-error>
          }
        </mat-form-field>

        <input-passoword-field [control]="passowordControl"></input-passoword-field>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button
        matButton="elevated"
        [disabled]="form.invalid || isLoading"
        (click)="submit()"
        type="submit"
      >
        <span class="cad-button-register">
          {{ isLoading ? 'Entrando...' : 'Entrar' }}
          @if (isLoading) {
            <mat-spinner diameter="20"></mat-spinner>
          }
        </span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
