.app-top-menu {
  min-height: 90px;

  display: flex;
  flex-direction: space-between;
  align-items: center;
  background-color: rgb(125, 83, 78) !important;

  .spacer {
    flex: 1 1 auto;
  }

  .app-top-menu button {
    height: 100%;
    border-radius: 0px;
  }

  .cadastro-btn {
    background-color: #35d7ff;
    color: white;
    margin: 5px;
    border-radius: 20px;
  }

  .cadastro-btn:hover {
    background-color: #aedeea;
    color: rgb(125, 83, 78) !important;
    opacity: 0.8;
  }
}

.app-logo {
  display: block;
  align-items: center;
}

.logo-img {
  height: 80px;
  width: auto;
}
