.app-top-menu {
  display: flex;
  flex-direction: space-between;
  align-items: center;

  .spacer {
    flex: 1 1 auto;
  }

  .app-top-men button {
    height: 100%;
    border-radius: 0px;
  }

  .cadastro-btn:hover {
      background-color: #35d7ff;
    color: white;
  }
}

.app-logo {
  display: block;
  align-items: center;
}

.logo-img {
  height: 70px;
  width: auto;
  max-width: 100%;
}
