.app-top-menu {
  min-height: 100px;

  display: flex;
  flex-direction: space-between;
  align-items: center !important;
  background-color: #d9eafd !important;
  font:
    1.2rem 'Arial',
    sans-serif !important;

  .spacer {
    flex: 1 1 auto;
  }

  .app-top-menu button {
    height: 100%;
    border-radius: 0px;
  }

  .cadastro-btn {
    background-color: #35d7ff !important;
    color: white !important;
    margin: 6px;
    border-radius: 30px;
    padding: 0.2rem 1.5rem !important;
  }

  .cadastro-btn:hover {
    background-color: #9aa6b2 !important;
    color: white !important;
    opacity: 0.8 !important;
  }
}

.app-logo {
  display: block;
  align-items: center;
}

.logo-img {
  height: 80px;
  width: auto;
}

.example-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.Hero_header_img {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  margin-right: 15px;

  .Hero_title {
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #ff6200 !important;
    text-align: center !important;
    margin-top: 60px !important;
  }

  .Hero_card_img {
    height: 60px !important;
    width: 60px !important;
    object-fit: cover !important;
    cursor: pointer !important;
  }
  .emoji::before {
    content: '\1F7E2' !important; /* círculo verde 🟢 */
    font-size: 15px !important;
  }
}

.hero-hover {
  color: #001aff !important;
  font-weight: bold !important;
}
.hero-hover:hover {
  color: white !important;
  background-color: rgb(99, 97, 97) !important;
  font-weight: bold !important;
}
