<div class="app-top-menu">
  <span class="app-logo">
    <img routerLink="/" [src]="applogo" alt="Logo" class="logo-img" />
  </span>

  @if (!estalogado) {
    <span class="spacer"></span>
    <a matButton>Serviços</a>
    <a matButton>Contatos</a>
    <span class="spacer"></span>

    <button
      matButton="filled"
      routerLink="/login"
      class="cadastro-btn"
      [disabled]="estanaRotaLogin()"
    >
      Entre
    </button>
    <button
      matButton="filled"
      routerLink="/register"
      class="cadastro-btn"
      [disabled]="estaNaRotaRegister()"
    >
      Cadastre-se
    </button>
  }

  @if (estalogado) {
    <span class="spacer"></span>
    <span class="spacer"></span>

    <mat-card-header>
      <div class="example-header-image Hero_card_img"></div>

      <div class="hero_emoji_title">
        <mat-card-title class="Hero_title">
          <div>
            {{ logadoUsuario() }}
            <mat-icon [matMenuTriggerFor]="menu" class="hero_mat-icon"
              >arrow_drop_down_circle</mat-icon
            >
            
          </div>
        </mat-card-title>
      </div>

      <mat-menu #menu="matMenu">
        <button class="hero-hover" mat-menu-item routerLink="/perfil">
          <mat-icon>account_circle</mat-icon>
          Perfil</button>
        <button class="hero-hover" mat-menu-item (click)="logout()"> 
          <mat-icon>logout</mat-icon>Sair</button>
      </mat-menu>
    </mat-card-header>
  }
</div>
