<mat-toolbar class="app-top-menu">
  <span class="app-logo"> 
    <img routerLink="/" [src]="applogo" alt="Logo" class="logo-img">
   </span>
  <span class="spacer"></span>
  
       <a matButton>Serviços</a>
      <a matButton>Contatos</a>
   <span class="spacer"></span>

   <button matButton="filled" routerLink="/login" class="cadastro-btn" [disabled]= 'estanaRotaLogin()'>
     Entre
    </button>
   <button  matButton="filled" routerLink="/register" class="cadastro-btn" [disabled]= 'estaNaRotaRegister()'>
    Cadastre-se
   </button>

</mat-toolbar>
